.gameCard {
  background: #2983aa;
  display: flex;
}

.info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.category {
  color: #c7c7c7;
  font-size: 16px;
  font-weight: 400;
  flex: 1;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.price {
  font-size: 32px;
  color: #beeb14;

}

@media (max-width: 700px) {
  .image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .gameCard {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .pricing {
    flex-direction: column;
  }
}